<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Users ... Select your mountaineer</h1>
    <div class="userGrid">
        <% users.forEach(user => { %>
            <div class="userItem">
                <a href="/user/<%= user._id %>"><%= user.name %></a>
            </div>
        <% }) %>
    </div>
</body>
</html>
