/* import Google font */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* global Styles */
body {
    font-family: 'Special Elite', cursive;
    background-image: url('/images/paper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fdf3e7;
    color: #252525;
    margin: 50px;
    padding: 20px;
}

/* lists and forms */
ul {
    list-style-type: none;
    padding: 0;
}

li, label, select {
    padding: 5px 0;
    font-size: 16px;
    margin: 10px;
}

form {
    display: inline-block;
    margin-top: 20px;
}

#trailForm {
    margin: 20px 0;
}

/* trail details */
#trailDetails {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}

/* Trail Grid and Buttons */
.trailGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin: 20px 0;
}

.trailButton, .trailItem, .userItem {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.trailButton:hover, .trailItem:hover, .userItem:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

/* smaller buttons */
.smallButton {
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.smallButton:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

/* trail group */
.trailGroup {
    display: none; /* initially hide all groups */
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    width: 80%;
}

/* users grid */
.userGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* error page styles */
body.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/images/404.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.error-page a {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
}

body.error-page a:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* ensure links in user items do not get underlined */
.userItem a {
    text-decoration: none; /* remove underline from links */
    color: inherit; /* inherit color from parent element */
    display: block; /* make the link fill the user item */
}

.userItem a:hover {
    text-decoration: none; /* no underline on hover */
    color: inherit; /* inherit color from parent element */
}
